<% provide(:title, "Contact | TwitterClone") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | TwitterClone</title>
</head>
<body>
<h1>Sample App</h1>
<p>
    Contact
</p>
</body>
</html>